# =============================================================================
# DEPRECATION WARNING:
#
# The file `requirements.txt` does not influence the package dependencies and
# will not be automatically created in the next version of PyScaffold (v4.x).
#
# Please have look at the docs for better alternatives
# (`Dependency Management` section).
# =============================================================================
#
# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.
# Example:
# numpy==1.13.3
# scipy==1.0
setuptools==38.2.4
argcomplete==1.9.4
colorama==0.4.1
eventlet==0.24.1
funcsigs==1.0.2
gevent==1.4.0
greenlet==0.4.15
numpy==1.16.1
pathlib2==2.3.3
pudb==2018.1
Sphinx==1.8.4
pytest-cov==2.6.1

